.creationItemposition {
  display: flex;
  justify-content: center;
  flex-direction: column;
  li {
    list-style-type: none;
  }
  li:first-child {
    align-self: center;
    margin-bottom: 1rem;
  }
}
