.sidebar {
  &__about {
    margin: 8px 0 24px;
    text-align: center;
    color: rgba(0, 0, 0, 0.85);
  }
}

.ant-layout-sider-zero-width-trigger {
  top: 10px;
  right: -46px;
}

.sidebar__about-name {
  margin-top: 10px;
}

.site-layout-background {
  text-align: center;
}
